<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokémon</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://www.pngkey.com/png/detail/317-3178288_pokemon-go-icon-png.png"
            type="image/x-icon">

        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous" />

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;500;700&display=swap"
            rel="stylesheet">

        <!-- style -->
        <link rel="stylesheet" href="/css/character/character.css">

    </head>

    <body>

        <header>
            <div>
                <img class="menu navBarsClose" onclick="pop()" src="/images/closeBall.png" alt="Pokemon Ball">
                <img class="menu navBarsOpen hide" onclick="pop()" src="/images/openBall.png" alt="Pokemon Ball">
                <div class="menuItems">
                    <div class="item1" id="item1">
                        <center>
                            <a href="/home/<%= userId %> " title="home">
                                <i class="fas fa-home"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item2" id="item2">
                        <center>
                            <a href="/dashboard/<%= userId %>" title="dashboard">
                                <i class="fas fa-id-card"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item3" id="item3">
                        <center>
                            <a href="/aboutUs/<%=userId %>" title="about Us">
                                <i class="fas fa-info"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item4" id="item4">
                        <center>
                            <a href="/login" title="logout">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </center>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <h1>Choose Your Trainer</h1>
            <div class="characters">
                <div class="character">
                    <a href="/rockPaperSissiors/<%= userId %>/1"><img src="/images/characters/1.png" alt="Brock"></a>
                    <p>Brock</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors/<%= userId %>/2"><img src="/images/characters/2.png" alt="Kanna"></a>
                    <p>Kanna</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors/<%= userId %>/3"><img src="/images/characters/3.png" alt="Ash"></a>
                    <p>Ash</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors/<%= userId %>/4"><img src="/images/characters/4.png" alt="Silver"></a>
                    <p>Silver</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors/<%= userId %>/5"><img src="/images/characters/5.png" alt="Serena"></a>
                    <p>Serena</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors/<%= userId %>/6"><img src="/images/characters/6.png" alt="Marlon"></a>
                    <p>Marlon</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors/<%= userId %>/7"><img src="/images/characters/7.png" alt="Oak"></a>
                    <p>Oak</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors/<%= userId %>/8"><img src="/images/characters/8.png" alt="Ace"></a>
                    <p>Ace</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors/<%= userId %>/9"><img src="/images/characters/9.png" alt="Misty"></a>
                    <p>Misty</p>
                </div>
                <div class="character">
                    <a href="/rockPaperSissiors/<%= userId %>/10"><img src="/images/characters/10.png" alt="Ethan"></a>
                    <p>Ethan</p>
                </div>
            </div>
        </main>

        <%- include('./../layout/footer') %>


            <!-- jQuery -->
            <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

            <!-- js -->
            <script src="/js/character.js"></script>
    </body>

</html>
