<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokémon</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://www.pngkey.com/png/detail/317-3178288_pokemon-go-icon-png.png"
            type="image/x-icon">

        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous" />

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

        <!-- style -->
        <link rel="stylesheet" href="/css/description/description.css">

    </head>

    <body>
        <header>
            <div>
                <img class="menu navBarsClose" onclick="pop()" src="/images/closeBall.png" alt="Pokemon Ball">
                <img class="menu navBarsOpen hide" onclick="pop()" src="/images/openBall.png" alt="Pokemon Ball">
                <div class="menuItems">
                    <div class="item1" id="item1">
                        <center>
                            <a href="/home/<%= userId %> " title='home'>
                                <i class="fas fa-home"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item2" id="item2">
                        <center>
                            <a href="/characters/<%= userId %>" title='competition'>
                                <i class="fas fa-gamepad"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item3" id="item3">
                        <center>
                            <a href="/dashboard/<%= userId %>" title='dashboard'>
                                <i class="fas fa-id-card"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item4" id="item4" title='logout'>
                        <center>
                            <a href="/login">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </center>
                    </div>
                </div>
            </div>
            </div>
        </header>
        <main>
            <h3 class="name">
                <%= pokemonDescription.name %>
            </h3>
            <div class="bigContainer">
                <div class="lContainer">
                    <div class="imgBox">
                        <img class="pokemonImg" id="pokemonImg" src="<%= pokemonDescription.image %> "
                            alt="<%=pokemonDescription.name%>">
                    </div>
                    <div class="hpContainer">
                        <h4 class="hpText">Hp</h4>
                        <div class="fullHp"></div>
                        <div class="currentHp" style="width: <%=pokemonDescription.hp %>px;"></div>
                        <p class="numHp">
                            <%=pokemonDescription.hp %>
                        </p>
                    </div>
                </div>
                <div class="rContainer">
                    <div class="description">
                        <ul>
                            <li>
                                <%= pokemonDescription.description %>
                            </li>
                        </ul>
                    </div>
                    <div class="att_def_waek">
                        <div class="firstRow">
                            <div style="display: flex;">

                                <img src="/images/describtionStyle/abilit.webp" alt="abilities">
                                <ul>
                                    <li>Abilities</li>
                                    <li class="words">
                                        <%= pokemonDescription.abilities %>
                                    </li>
                                </ul>
                            </div>
                            <% console.log(pokemonDescription) %>
                                <!-- <div class="test"></div> -->
                                <div style="display: flex;">
                                    <img src="/images/describtionStyle/attack.png" alt="attack">

                                    <ul>
                                        <li>Attack</li>
                                        <li class="words attack">
                                            <%= pokemonDescription.attack %>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                        <div class=" secRow">
                            <div style="display: flex;">
                                <img src="/images/describtionStyle/def.png" alt="Defence">
                                <ul>
                                    <li>Defence</li>
                                    <span class="words">
                                        <%= pokemonDescription.defence %>
                                    </span>
                                </ul>
                            </div>
                            <div style="display: flex;">
                                <img src="/images/describtionStyle/weak.png" alt="Weaknesses">
                                <ul>
                                    <li>Weaknesses</li>
                                    <span class="words weak">
                                        <%= pokemonDescription.weaknesses %>
                                    </span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>

        <%- include('./../layout/footer') %>




            <!-- jQuery -->
            <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

            <!-- js -->
            <script src="/js/description.js"></script>
    </body>

</html>
