<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokémon</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://www.pngkey.com/png/detail/317-3178288_pokemon-go-icon-png.png"
            type="image/x-icon">

        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous" />

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

        <!-- style -->
        <link rel="stylesheet" href="/css/descriptionHome/descriptionHome.css">

    </head>

    <body>
        <header>
            <ul class="links">
                <li class="links-items"><a href="/">Home</a></li>
                <li class="links-items"><a href="/aboutUs">About Us</a></li>
            </ul>
        </header>
        <main>
            <div class="bigContainer">
                <div class="lContainer">
                    <div class="imgBox">
                        <img class="pokemonImg" id="pokemonImg" src="<%= pokemonDescription.image %> "
                            alt="<%=pokemonDescription.name%>">
                    </div>
                    <div class="hpContainer">
                        <h4 class="hpText">Hp</h4>
                        <div class="fullHp"></div>
                        <div class="currentHp" style="width: <%=pokemonDescription.hp %>px;"></div>
                        <p class="numHp">
                            <%=pokemonDescription.hp %>
                        </p>
                    </div>
                </div>
                <div class="rContainer">
                    <h3 class="name">
                        <%= pokemonDescription.name %>
                    </h3>
                    <div class="description">
                        <p>
                            <%= pokemonDescription.description %>
                        </p>
                    </div>
                    <div class="firstRow">
                        <div>
                            <div class="ability">
                                <img src="/images/describtionStyle/abilit.webp" alt="abilities">
                                <span>Abilities</span>
                            </div>
                            <p class="words">
                                <%= pokemonDescription.abilities %>
                            </p>

                        </div>
                        <div>
                            <div class="ability">
                                <img src="/images/describtionStyle/attack.png" alt="attack">
                                <span>Attack</span>
                            </div>
                            <p class="words attack">
                                <%= pokemonDescription.attack %>
                            </p>

                        </div>
                        <div>
                            <div class="ability">
                                <img src="/images/describtionStyle/def.png" alt="Defence" class="Defence">
                                <span>Defence</span>
                            </div>
                            <p class="words">
                                <%= pokemonDescription.defence %>
                            </p>

                        </div>
                        <div>
                            <div class="ability">
                                <img src="/images/describtionStyle/weak.png" alt="Weaknesses">
                                <span>Weaknesses</span>
                            </div>
                            <p class="words weak">
                                <%= pokemonDescription.weaknesses %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <%- include('./../layout/footer') %>




            <!-- jQuery -->
            <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

            <!-- js -->
            <script src="/js/descriptionHome.js"></script>
    </body>

</html>
