<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="https://www.pngkey.com/png/detail/317-3178288_pokemon-go-icon-png.png"
        type="image/x-icon">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

    <!-- style -->
    <link rel="stylesheet" href="/css/description/description.css">

</head>

<body>
    <header>
        <div class="navBarsClose ">
            <img src="/images/closeBall.png" alt="Pokemon Ball">
        </div>
        <div class="navBarsOpen hide">
            <img src="/images/openBall.png" alt="Pokemon Ball">
        </div>
        <nav class="nav hide">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/dashboard">DashBoard</a></li>
                <li><a href="/characters">Competition</a></li>
                <li><a href="/html/aboutUs.html">About Us</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h3 class="name">
            <%= pokemonDescription.name %>
        </h3>
        <br>

        <div class="bigContainer">
            <div class="rContainer">
                <img src="<%= pokemonDescription.image %> " alt="<%=pokemonDescription.name%>">
            </div>
            <div class="lContainer">
                <div class="description">
                    <ul>
                        <li>Description</li>
                        <li>
                            <%= pokemonDescription.description %>
                        </li>
                    </ul>
                </div>
                <div class="abilities">
                    <ul>
                        <li>Abilities</li>
                        <li>
                            <%= pokemonDescription.abilities %>
                        </li>
                    </ul>

                </div>
                <div class="att_def_waek">
                    <ul>
                        <li>Attack</li>
                        <li>
                            <%= pokemonDescription.attack %>
                        </li>
                    </ul>
                    <ul>
                        <li>Defence</li>
                        <li>
                            <%= pokemonDescription.defence %>
                        </li>
                    </ul>

                    <ul>
                        <li>Weaknesses</li>
                        <li>
                            <%= pokemonDescription.weaknesses %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <%- include('./../layout/footer') %>




        <!-- jQuery -->
        <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

        <!-- js -->
        <script src="/js/description.js"></script>
</body>

</html>