<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokémon</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://www.pngkey.com/png/detail/317-3178288_pokemon-go-icon-png.png"
            type="image/x-icon">

        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous" />

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

        <!-- style -->
        <link rel="stylesheet" href="/css/firstPage/firstPage.css">

    </head>

    <body>
        <header class="banner">
            <div class="login">
                <a href="/login">Sign In<i class="fas fa-sign-in-alt"></i></a>
            </div>
            <div class="title">
                <h1 class="name">Pika-Pika</h1>
                <p class="desc">Collect your Special Pokemon's Collections with Passion</p>
            </div>
        </header>

        <main>
            <section class="info-container">
                <p class="info">I want to be the very best,
                    Like no one ever was.
                    To catch them is my real test,
                    To train them is my cause!
                    (I will travel across the land,
                    Searching far and wide.
                    Each Pokemon to understand
                    The power that's inside!)
                    Pokemon!
                    Gotta catch em' all!
                </p>
            </section>
            <section class="cards">
                <h2 class="cards-title">Featured Pokémon</h2>
                <i class="fas fa-chevron-left left"></i>
                <div class="slider">
                    <% pokemons.forEach((pokemon,index)=> { %>
                        <% if(index===2) {%>
                            <div class="card active" id=<%=index %> >
                                <a href=""><img src=<%=pokemon.image %>
                                    alt=" pokemon" class='img'></a>
                            </div>
                            <% } else { %>
                                <div class="card hold" id=<%=index %> >
                                    <a href=""> <img src=<%=pokemon.image %>
                                        alt="pokemon"
                                        class='img'></a>
                                </div>
                                <% } %>
                                    <% }); %>
                </div>
                <i class="fas fa-chevron-right right"></i>
            </section>
        </main>


        <%- include('./../layout/footer') %>


            <!-- jQuery -->
            <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

            <!-- js -->
            <script src="/js/firstPage.js"></script>
    </body>

</html>
