<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pokémon</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="https://www.pngkey.com/png/detail/317-3178288_pokemon-go-icon-png.png"
            type="image/x-icon">

        <!-- font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
            integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
            crossorigin="anonymous" />

        <!-- google font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">

        <!-- style -->
        <link rel="stylesheet" href="/css/rockPaper/rockPaper.css">

    </head>

    <body>

        <header>
            <div>
                <img class="menu navBarsClose" onclick="pop()" src="/images/closeBall.png" alt="Pokemon Ball">
                <img class="menu navBarsOpen hide" onclick="pop()" src="/images/openBall.png" alt="Pokemon Ball">
                <div class="menuItems">
                    <div class="item1" id="item1">
                        <center>
                            <a href="/home/<%= userId %>" title="home">
                                <i class="fas fa-home"></i>

                            </a>
                        </center>
                    </div>
                    <div class="item2" id="item2">
                        <center>
                            <a href="/dashboard/<%= userId %>" title="dashboard">
                                <i class="fas fa-id-card"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item3" id="item3">
                        <center>
                            <a href="/aboutUs/<%= userId %>" title="about Us">
                                <i class="fas fa-info"></i>
                            </a>
                        </center>
                    </div>
                    <div class="item4" id="item4">
                        <center>
                            <a href="/login" title="logout">
                                <i class="fas fa-sign-out-alt"></i>
                            </a>
                        </center>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <h1>Who is gonna start first?</h1>
            <div class="characters">
                <div class="character user">
                    <img src="/images/characters/<%=choosenTrainer.choosenTrainer.id %>.png"
                        alt="<%=choosenTrainer.choosenTrainer.name %>">
                    <p>
                        <%=choosenTrainer.choosenTrainer.name %>
                    </p>
                </div>
                <div class="random">
                    <img src="/images/first.png" alt="first begin">

                    <p class="start">
                        <% if (choosenTrainer.turn===first) { %>
                            <%=choosenTrainer.choosenTrainer.name %> begin the first round
                                <% } else { %>
                                    <%=randomChoosenTrainer.randomChoosenTrainer.name %> begin the first round
                                        <% } %>
                    </p>
                    <a href="/competition/<%= userId %>" class="fight">Start your Fight</a>
                </div>
                <div class="character computer">
                    <img src="/images/characters/<%=randomChoosenTrainer.randomChoosenTrainer.id %>.png"
                        alt="<%=randomChoosenTrainer.randomChoosenTrainer.name %>">
                    <p>
                        <%=randomChoosenTrainer.randomChoosenTrainer.name %>
                    </p>
                </div>
            </div>
        </main>

        <%- include('./../layout/footer') %>


            <!-- jQuery -->
            <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>

            <!-- js -->
            <script src="/js/rockPaper.js"></script>
    </body>

</html>
